.theme--dark.v-application code
    background-color #444

.theme--dark.v-application blockquote
    color #aaa

.theme--dark.v-application .custom-block
    &.tip
        background-color #222

.theme--dark.v-application a.link
  color #fff

.theme--light.v-app-bar.v-toolbar.v-sheet
  background-color #fff
